body{
    margin: 0;
    padding: 0;
    background-color: rgb(235, 235, 235);

}

.col-md-9, .col-md-3{
    
    margin-top: 5%;
    
}
.col-md-3{
    background-color: rgb(32, 32, 32);
    
    

}

.banner{
    
    width: 90%;
    margin: auto;
}
.btn1{
    text-decoration: none;
    border-radius: 10%;
    padding: 2%;
    border: none;
    background-color: rgb(255, 187, 0);
    font-size: 19px;
    font-family: sans-serif;
    transition: 0.3s;

}

.btn1:hover {
    background-color: white
    
  }

.media{
    margin-top: 5%;
    background-color: rgb(32, 32, 32);
    color: rgb(212, 212, 212);
    
}
.card-text{
    font: bolder;
    float: right;
    margin-top: 16%;
}
.card-title{
    color: black;
}

.card{
    margin-bottom: 2%;
}
.media-body{
    margin-bottom: 15%;
}
h5{
    color: white;
    margin-bottom: 1.5%;
}